@charset "utf-8";

/* General 
--------------------------------------------------------------------------------------------------------*/
*,*:focus{outline:none;border-radius:0;-o-border-radius:0;-ms-border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;box-shadow:none;-o-box-shadow:none;-ms-box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;}
html,body{height:100%;font-kerning:auto;}
body{font-size:14px;line-height:20px;font-family: 'Open Sans', sans-serif; color:#414141}
h1,h2,h3,h4,h5,h6{line-height:1.2em;padding:0 0 20px;margin:0;}

/* Header
--------------------------------------------------------------------------------------------------------*/
.header-title{background:#394044;color: white;text-align: center;padding-top: 14px;}

/* Footer
--------------------------------------------------------------------------------------------------------*/
.footer{background:#394044;color: white;text-align: center}
.footer-content{text-align:center;}
.footer-content .copyright{font-size:13px;line-height:17px;color:#949597;padding-top:9px;}

/* Calendar Top Navigation
--------------------------------------------------------------------------------------------------------*/
div#calendar{margin:0px auto;padding:0px;width: 602px;font-family:Helvetica, "Times New Roman", Times, serif;}
div#calendar div.box{position:relative;top:0px;left:0px;width:100%;height:40px;background-color:#ff0048;}
div#calendar div.header{line-height:40px;vertical-align:middle;position:absolute;left:11px;top:0px;width:582px;height:40px;text-align:center;}
div#calendar div.header a.prev,div#calendar div.header a.next{position:absolute;top:0px;height: 17px;display:block;cursor:pointer;text-decoration:none;color:#FFF;}
div#calendar div.header span.title{color:#FFF;font-size:18px;}
div#calendar div.header a.prev{left:0px;}
div#calendar div.header a.next{right:0px;}
 
/* Calendar Content Cells
--------------------------------------------------------------------------------------------------------*/
div#calendar div.box-content{border:1px solid #787878 ;border-top:none;}
div#calendar ul.label{float:left;margin: 0px;padding: 0px;margin-top:5px;margin-left: 5px;}
div#calendar ul.label li{margin:0px;padding:0px;margin-right:5px;  float:left;list-style-type:none;width:80px;height:40px;line-height:40px;vertical-align:middle;text-align:center;color:#000;font-size: 15px;background-color: transparent;}
div#calendar ul.dates{float:left;margin: 0px;padding: 0px;margin-left: 5px;margin-bottom: 5px;}
div#calendar ul.dates li{margin:0px;padding:0px;margin-right:5px;margin-top: 5px;line-height:80px;vertical-align:middle;float:left;list-style-type:none;width:80px;height:80px;font-size:25px;background-color: #DDD;color:#000;text-align:center;}
:focus{outline:none;}
div.clear{clear:both;}   